<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/lux/bootstrap.min.css" rel="stylesheet" integrity="sha384-smnSwzHqW1zKbeuSMsAM/fMQpkk7HY11LuHiwT8snL/W2QBoZtVCT4H5x1CEcJCs" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title></title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Trip</h5>
            <p>
              <strong>Departure City</strong>: {{destination.departureCity}}</p>
            <p>
            <p>
              <strong>Arrival City</strong>: {{destination.arrivalCity}}</p>
            <p>
              <strong>Miles Travelled:</strong> {{destination.tripDistance}}</p>
            <a href="/">← Back To Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>