<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Trip</h5>
          <p>
            <strong>Departure City</strong>: {{destination.departureCity}}</p>
          <p>
          <p>
            <strong>Arrival City</strong>: {{destination.arrivalCity}}</p>
          <p>
            <strong>Miles Travelled:</strong> {{destination.tripDistance}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
