.list-group-item {
  line-height: 2.5;
}
h1,h3 {
  text-align:center;
}
.column-title {
  width: 80%;
}

h1 {
  margin-top:40px;
  margin-bottom: 20px;
}
.descript {
  font-size: 10px;
}
.name {
  font-size:12px;
}
.main {
  border-width: 5px;
  border-color: black;
  border: solid;
  border-radius: 10px;
  background-color:yellow;
}
.custom-select,.dropdown-item,.dropdown-menu.show {
  background:black;
  color: white;
  text-align: center;
  padding: 0px 5px;
}
.burger {
  margin-bottom: 15px;
}
body {
  font-family: cooper;
}
.orderburg {
  margin-left: 0px;
  
}
th {
  border-bottom: solid black 2px;
}
.col-3 {
  padding: 0px 0px;
}
.btn-danger {
  padding: 0px 5px;
}

.b-icon {
  height: 30px;
}

.e-icon {
  height: 35px;
}
#burg {
  width:80%;
}
#addburger {
  text-align:center;
}


