body {
  font-family: 'Times New Roman', Times, serif;
  background-image: url(https://www.publicdomainpictures.net/pictures/190000/velka/travel-background-1469438406Duy.jpg);
  color: #FDFEFE;
  background-size: cover;
}
h3 {
  color: #FDFEFE;
}
